html{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edge{
  border-radius: 7px;
}

.container{
  display:flex;
  padding:10px;
}

.card{
  transition: all 0.2s;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
  flex:1;
  margin:10px;
  padding:10px;
  border:2px solid rgb(90, 90, 90);
  text-align:center;
  max-width:300px;
  min-width:300px;
  min-height: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.fit{
  width:150px;
  height:150px;
  object-fit:cover;
}

.container{
  display:flex;
}
.center{
  justify-content:center;
  align-items:center;
}

.line{
  display: inline-block; width: 80%;
}

.card:hover{
  transition: all 0.2s;
  opacity: 100%;
  background-color: rgb(255, 255, 255);
  transform: scale(1.03);
}

.top{
  display: flex;
  background-color: rgb(185, 185, 185);
  height: 50px;
  align-items: center;
}

.dropdown{
  margin: 20px;
  transition: 0.2s;
  font-size: large;
  min-height: 70px;
  min-width: 200px;
  background-color: rgb(255, 255, 255);
  border:2px solid rgb(90, 90, 90);
}

.dropdown:hover{
  transition: all 0.2s;
  transform: scale(1.03);
}

#upperthing{
  text-align: center;
  padding: 30px;
  flex:1;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

#upper1{
  color: rgb(255, 83, 83);
}

#upper2{
  color: rgb(255, 255, 255);
}

.upper3{
  padding: 20px;
  background-color: rgb(255, 202, 132);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.upper3:hover{
  background-color: 188, 228, 255;
  transform: scale(1.03);
}

#upper4{
  padding: 30px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.links{
  font-size: 20px;
  padding: 20px;
  flex: 1;
  text-align: center;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s;

}

.navigation{
  flex: 1;
}

.backgroundimg{
  position: fixed;
}

.bottom{
  margin: 0;
  padding: 20;
  background-color: white;
}

.HPCard{
  transition: 0.2s;
  flex: 1;
  font-size: 23px;
  text-align: center;
  align-items: center;
}

.HPCard img{
  width: 100px;
}

.HPCard:hover{
  transition: 0.2s;
  transform: scale(1.01);
}

.card2{
  opacity: 80%;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s;
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  box-shadow:2px 2px 2px black;
  border-radius:2px;
}

.fitted2{
  max-width:200px;
  min-width:200px;
}

#output{
  z-index: 0;
  display:flex;
  flex-wrap:wrap;
}

.card2:hover{
  transition: all 0.2s;
  opacity: 100%;
  background-color: rgb(255, 255, 255);
  transform: scale(1.03);
}

.yeah{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.445);
}

#navigationbar a:hover{
  background-color: rgb(235, 235, 235);
}